:root {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: black;
}

.wrapper {
    margin: 0 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

footer > .wrapper {
    justify-content: center;
}

.logo {
    max-width: 150px;
}